@model intento2ado.Models.venta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        


        <div class="form-group">
            <h3>Seleccione Vendedor</h3>
            <div class="col-md-10">
                @Html.DropDownList("dnivend", null,"vendedor por defecto", htmlAttributes: new { @class = "form-control", @value= @ViewBag.SelectedDni})
                @Html.ValidationMessageFor(model => model.dnivend, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear venta" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
