@model intento2ado.Models.detalle_v
<div id="prueba">
    
<p>
    
</p>
<button type="button" class="btn btn-primary " data-backdrop="false" data-dismiss="modal" data-toggle="modal" data-target="#Nuevo-det"><i class="fas fa-edit"></i> Crear Detalle</button>
<table class="table">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Monto
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.dets) {
    <tr>
        <td>
            @item.prod.nom
        </td>
        <td>
            @item.canti
        </td>
        <td>
            @item.monto
        </td>

        <td>
            
        </td>
        <td>
            <button type="button" class="btn btn-primary " data-backdrop="false" data-dismiss="modal" data-toggle="modal" data-target="#@item.id-e"><i class="fas fa-edit"></i> Editar</button>
            <button type="button" class="btn btn-danger " data-backdrop="false" data-dismiss="modal" data-toggle="modal" data-target="#@item.id-d"><i class="fas fa-trash-alt"></i> Borrar</button>
        </td>
    </tr>
}
<tr>
    <th>
        <strong>Total</strong>
    </th>
    <th>
        
    </th>
    <th>
        @ViewBag.venta.tot
    </th>
    <th></th>
</tr>
</table>
@for (var i = 0; i < ViewBag.dets.Count; i++)
{
    <div id="@ViewBag.dets[i].id-d" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Desea eliminar @ViewBag.dets[i].prod.nom cantidad @ViewBag.dets[i].canti?</p>
                </div>
                <div class="modal-footer">
                        
                    <a class="btn btn-primary" href="/ventas/DeleteDet/@ViewBag.dets[i].id">  Eliminar </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@for (var i = 0; i < ViewBag.dets.Count; i++)
{
    <div id="@ViewBag.dets[i].id-e" class="modal" role="dialog">
            
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("EditDet","ventas", FormMethod.Post, new { @id="myForm-"+@ViewBag.dets[i].id}))
                        {
                            @Html.AntiForgeryToken()
    
                            <div class="form-horizontal">
                                
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id, new {  Value = @ViewBag.dets[i].id})

                                <div class="form-group">
                                    @Html.LabelFor(model => model.produc, "producto", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                                                            @{
                                        //var prodSelected = new { id = @ViewBag.dets[i].produc, nom = @ViewBag.dets[i].prod.nom };
                                        string nom = @ViewBag.dets[i].prod.nom;
                                        ViewBag.prod = new SelectList(ViewBag.prods /* List<SelectListItem> */,
                                          "id",
                                          "nom",
                                          @ViewBag.dets[i].produc /* selected value */);
                                     }
                                        @Html.DropDownList("produc",(IEnumerable<SelectListItem>)ViewBag.prod, @nom, new { @class = "custom-select" })
                                        @Html.ValidationMessageFor(model => model.produc, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.canti, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.canti, new { @Value = @ViewBag.dets[i].canti, @type="number" ,@class = "form-control control-label col-md-10"  })
                                        @Html.ValidationMessageFor(model => model.canti, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.venta)
                                @Html.HiddenFor(model => model.monto)    
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                         }

                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
    </div>
    <script>

        $(document).ready(function () {
            $("#btnSubmit-@ViewBag.dets[i].id").click(function () {

                var myformdata = $("#myForm-@ViewBag.dets[i].id").serialize();
                console.log(myformdata);
                $.ajax({
                    type: "POST",
                    url:"/ventas/EditDet/@ViewBag.dets[i].id",
                    data: myformdata,
                    success: function () {
                        $("#@ViewBag.dets[i].id-e").modal("hide");
                    }
                
                })
            })

        })

   
    </script>
}
</div>
    <div id="Nuevo-det" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("NuevoDet","ventas", FormMethod.Post, new { @id="myForm-Nuevodet", venta= @ViewBag.venta.id}))
                    {
                        @Html.AntiForgeryToken()
    
                        <div class="form-horizontal">
                                
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id, new {  Value = 1})

                            <div class="form-group">
                                @Html.LabelFor(model => model.produc, "producto", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @{
                                        //var prodSelected = new { id = @ViewBag.dets[i].produc, nom = @ViewBag.dets[i].prod.nom };
                                        ViewBag.prod = new SelectList(ViewBag.prods /* List<SelectListItem> */,
                                            "id",
                                            "nom",null);
                                     }
                                    @Html.DropDownList("produc",(IEnumerable<SelectListItem>)ViewBag.prod, "Selecciona un producto", new { @class = "custom-select" })
                                    @Html.ValidationMessageFor(model => model.produc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.canti, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.canti, new {  @type="number" ,@class = "form-control control-label col-md-10"  })
                                    @Html.ValidationMessageFor(model => model.canti, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.venta, new {  Value = ViewBag.venta.id})
                            @Html.HiddenFor(model => model.monto)    
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                     }

                </div>
                <div class="modal-footer">
                        
                </div>
            </div>
        </div>
    </div>
