@model intento2ado.Models.prod

@{
    ViewBag.Title = "DeleteProd";
}

<h2>DeleteProd</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>prod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categ.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categ.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
