@model intento2ado.Models.detalle_v

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que quieres eliminar esto?</h3>
<div>
    <h4>detalle_v</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.canti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venta1.dnivend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venta1.dnivend)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a  la lista", "Index")
        </div>
    }
</div>
